/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  background-color: #fff;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
button {
  padding: 0;
  cursor: pointer;
}
input {
  padding: 0 6px;
  width: 100%;
}
::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
}
:focus {
  outline: 2px dotted #7296ee;
  outline-offset: 1px;
}
img {
  display: block;
  object-fit: cover;
}
.title-md, .title-lg, .title-sm {
  font-weight: 500;
  color: #000;
}
.title-md {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
}
.title-lg {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}
.title-sm {
  font-size: 18px;
  line-height: 24px;
}
.text-sm {
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
.more-text {
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
/* HEADER  */
.site-header {
  margin-bottom: 30px;
  padding: 30px 0;
  background-color: #f6f6f6;
}
.site-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.site-header__col-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  transition: opacity .4s ease;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}
.site-logo--blue {
  margin-right: 35px;
  padding: 9px 6px 8px;
  border-radius: 7px;
  background-color: #fff;
  color: #7296ee;
}
.currency-info:not(:last-child) {
  margin-right: 25px;
}
.currency-info__icon {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 19px;
  color: #2959ce;
}
.site-header__col-2 {
  display: flex;
  align-items: center;
}
.site-header-lists:not(:last-child) {
  margin-right: 25px;
}
.search-wrapper {
  overflow: hidden;
  display: flex;
  width: 275px;
  height: 45px;
  border-radius: 60px;
}
.search-button {
  padding-left: 15px;
  background-color: #fff;
}
.search-button, #search {
  border: none;
}
.search-button__img {
  vertical-align: bottom;
}
.lang-current {
  display: flex;
  justify-content: space-around;
  width: 70px;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
}
.lang-current__link {
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #a6a6a6;
}
.lang-current--active {
  color: #000;
  background-color: #fff;
}
.btn {
  font-weight: 500;
  line-height: 19px;
  border:none;
  border-radius: 10px;
  padding: 13px 20px;
  color: #fff;
  transition: opacity .4s ease;
}
.btn:hover {
  opacity:0.8;
}
.btn:active {
  opacity:0.6;
}
.btn--primary {
  background-color: #7296ec;
}
/* NAVIGATION */
.navigation {
  margin-bottom: 40px;
}
.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.highlight-line {
  max-width: 1200px;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: #d1d1d1;
}
.site-nav-lists:not(:last-child) {
  margin-right: 34px;
}
.site-nav-links {
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #7f7f7f;
  transition: opacity .4s ease;
}
.site-nav-links:hover {
  opacity:0.8;
}
.site-nav-links:active {
  opacity:0.6;
}
.index-promo {
  margin-bottom: 50px;
}
.index-promo__img {
  display: block;
  border-radius: 8px;
}
.main-content {
  flex-grow: 1;
  padding-bottom: 100px;
}
.news-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.news-grid__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 393px;
  margin-bottom: 10px;
  padding:20px 16px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}
.news-grid-title {
  display: inline-block;
  transition: color .4s ease, opacity .4s ease;
}
.news-grid-title:hover {
  color:#7296ee;
}
.news-grid-title:active {
  opacity:0.6;
}
.news-grid-text {
  margin-bottom: 15px;
  flex-grow: 1;
}
.list-news-img-wrapper {
  display: block;
  margin-bottom: 15px;
}
.list-news__img {
  display: block;
  border-radius: 10px;
}
.news-footer-icons {
  display: flex;
  align-items: center;
}
.news-footer-icon {
  margin-right: 10px;
  border-radius: 5px;
}
.news-footer-desc, .news-footer-time {
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}
.news-footer-desc {
  margin-right: 3px;
}

/* SITE-CTA */
.notification-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 60px;
  padding: 24px 70px 24px 29px;
  border-radius:10px;
  background-image: url(/img/bg-notif.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.notification-cta__title {
  margin: 0;
}
.btn--turn {
  font-size: 20px;
  line-height: 24px;
  background-color: #f78b3b;
  padding-right: 30px;
  padding-left: 30px;
}

.main-news__title {
  margin-top: 0;
  margin-bottom: 20px;
}
.news-col {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}
.news-col__row {
  margin-left: 10px;
}
.main-news {
}
.main-news__item {
  width: 797px;
  display: flex;
  padding: 20px 20px 20px 17px;
  border-radius:15px;
  background-color:#f6f6f6;
}
.main-news__item:not(:last-of-type) {
  margin-bottom: 10px;
}
.main-news-img__link {
  margin-right: 15px;
}
.main-news-img {
  display: block;
  border-radius:10px;
}
.main-news__content {
}
.title-md {
}
.main-news__text {
  margin-bottom: 17px;
}
.news-footer-icons {
}
.news-footer-icon {
}
.news-footer-desc {
}
.news-footer-time {
}
.show-more {
  display: block;
  border-radius:10px;
  margin-top: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color:#eaeaea;
}
.sidebar {
  padding-top: 48px;
  width: 393px;
}
.sidebar__row {
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  background-color:#f6f6f6;
  border-radius:15px;
}
.sidebar__title {
  margin-bottom: 25px;
}
.sidebar-content:not(:last-of-type) {
  padding-bottom: 20px;
  margin-bottom: 20px;


}
.sidebar-content:not(:last-of-type) {
  border-bottom: 1px solid #d2d2d2;
}
.sidebar__subtitle {
  margin-bottom: 8px;
}
.news-src {
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
.sidebar-promo {
}
.sidebar-promo__link {

}
.sidebar-promo__img {
  border-radius: 15px;
}

/* SITE-FOOTER  */

.site-footer {
  padding: 40px 0;
  background-color: #7297ef;
}
.site-logo--white, .site-footer-top__link, .site-footer-top__text {
  color: #fff;
}
.site-footer-container {
  max-width: 998px;
  width: 100%;
  margin: 0 auto;
}
.site-footer-top {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom:1px solid #cecece;
}
.site-logo--white {
  margin-bottom: 15px;
}
.site-footer-top__col {
  display: flex;
}
.site-footer-top__text {
  max-width: 229px;
  margin-right: 203px;
  font-size: 12px;
  line-height: 19px;
}
.site-footer-top__list {
  padding: 0;
}
.site-footer-top__list:first-of-type {
  margin-right: 100px;
}
.site-footer-top__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.site-footer-top__link {
  font-weight: 500;
  line-height: 19px;
  transition: opacity .4s ease;
}
.site-footer-top__link:hover {
  opacity:0.6;
}
.site-footer-top__link:active {
  opacity:0.4;
}

.site-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-sm--white {
  margin: 0;
  line-height: 23px;
  color: #fff;
}
.site-footer-bottom__list {
  padding-left: 0;
  display: flex;
}
.site-footer-bottom__list-item:not(:last-child) {
  margin-right: 25px;
}
.site-footer-bottom__list-item {
  transition: transform .4s ease;
}
.site-footer-bottom__list-item:hover {
  transform: translateY(-5px);
}
.site-footer-bottom__list-item:active {
  transform: scale(1.5);
}

/* page write-to-us  */
.main-content {
}
.container {
}
.title-lg {
}
.write-to-us__title {
  margin-bottom: 20px;
}
.write-to-us-wrapper {
  display: flex;
}
.write-to-us__form {
  flex-grow: 1;
  margin-right: 10px;
}
.write-to-us__inputs {
  margin-bottom: 20px;
}
.write-to-us-wrapper {
  display: flex;
}
.name-number-wrapper {
  display: flex;
  margin-bottom: 10px;
}
.input-name {
  margin-right: 10px;
}
.input-email {
  margin-bottom: 10px;
}
input, textarea {
  padding: 18px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:10px;
}
textarea {
  display: block;
  resize: none;
  width: 100%;
  min-height: 180px;
}
.textarea-message {
  margin: 0;
}
.btn-wrapper {
  text-align: right;
}
.btn-send {
  padding: 17px 30px;
}
.our-info {
  flex-grow: 1;
  height: 310px;
  padding: 40px 25px;
  background-color:#f6f6f6;
  border-radius:10px;
}
.our-info-item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}
.our-info__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color:#000;
}
.our-info__text {
  margin-bottom: 20px;
  line-height: 19px;
  color:#000;
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .notification-cta {
    background-image: url(/img/bg-notif@2x.jpg);
  }

}