/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
button {
  padding: 0;
  cursor: pointer;
}
input {
  padding: 0 6px;
  width: 100%;
}
::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
}
:focus {
  outline: 0;
}
img {
  object-fit: cover;
}

/* HEADER  */
.site-header {
  margin-bottom: 30px;
  padding: 30px 0;
  background-color: #f6f6f6;
}
.site-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.site-header__col-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo {
  margin-right: 35px;
  padding: 9px 6px 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.site-logo--blue {
  border-radius: 7px;
  background-color: #fff;
  color: #7296ee;
}
.currency-info:not(:last-child) {
  margin-right: 25px;
}
.currency-info__icon {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 19px;
  color: #2959ce;
}
.site-header__col-2 {
  display: flex;
  align-items: center;
}
.site-header-lists:not(:last-child) {
  margin-right: 25px;
}
.search-wrapper {
  overflow: hidden;
  display: flex;
  width: 275px;
  height: 45px;
  border-radius: 60px;
}
.search-button {
  padding-left: 15px;
  background-color: #fff;
}
.search-button, #search {
  border: none;
}
.search-button__img {
  vertical-align: bottom;
}
.lang-current {
  display: flex;
  justify-content: space-around;
  width: 70px;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
}
.lang-current__link {
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #a6a6a6;
}
.lang-current--active {
  color: #000;
  background-color: #fff;
}
.btn-submit {
  font-weight: 500;
  line-height: 19px;
  border:none;
  border-radius: 10px;
  padding: 13px 20px;
  background-color: #7296ec;
  color: #fff;
}

/* NAVIGATION */
.navigation {
  margin-bottom: 40px;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.highlight-line {
  margin: 0 auto;
  border: none;
  max-width: 1200px;
  height: 1px;
  background-color: #d1d1d1;
}
.site-nav-lists {

}
.site-nav-links {
  font-weight: 500;
  line-height: 21px;
  color: #7f7f7f;
}
.index-promo {
  margin-bottom: 50px;
}
.index-promo__img {
  display: block;
  border-radius: 8px;
}
.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.news__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 393px;
  margin-bottom: 10px;
  padding:20px 16px 15px 17px;
  border-radius: 15px;
  background-color: #f6f6f6;
}
.list-news__title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.list-news__text {
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 15px;
  flex-grow: 1;
}
.list-news__img {
  border-radius: 10px;
  margin-bottom: 15px;
}
.list-news__bottom-icons {
  display: flex;
  align-items: center;
}
.list-news__bottom-icon {
  margin-right: 10px;
  border-radius: 5px;
}
.list-news__bottom-desc, .list-news__bottom-time {
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}
.list-news__bottom-desc {
  margin-right: 3px;
}